#li1{
    list-style: none;
    display:flex;
}
body{
    text-align: center;
    justify-content: center;
}
#container{
    
    justify-content: center;
   align-items: center;
   align-content: center;
   
}